<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookomen</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <h1 id="label">JOIN MILLONS OF HAPPY READERS!</h1>
    </header>
    <nav>
        <div id="logo">
            <a>Bookomen</a>
        </div>
        <div id="search">
            <h1>Search</h1>
            <input type="text" placeholder="🔍" tabindex="0">
        </div>
        <span>
            <div class="sing-container">
                <div class="sing-icon"></div>
                <a>sing in</a>
            </div>
            <div class="icons-container">
                <div class="shopping_cart"></div>
                <div class="shopping_amount">
                    <div class="amount">0</div>
                </div>
            </div>
        </span>
    </nav>
    <main>
        <section>

        </section>

    </main>
    <footer>

    </footer>
</body>
</html>